body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 20px;
}

.blokas {
  padding: 40px;
  border-radius: 15px;
  width: 200px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}


.blokas:hover {
  transform: scale(1.05);
}

/* Ciklinis spalvų priskyrimas */
.blokas:nth-child(3n + 1) {
  background-color: #e74c3c; /* raudona */
}

.blokas:nth-child(3n + 2) {
  background-color: #3498db; /* mėlyna */
}

.blokas:nth-child(3n) {
  background-color: #2ecc71; /* žalia */

}
